img{
    padding-left: 20px;
    display: inline-block;
    height: 200px;
}
figcaption{
    display: none;
}
figure{
    width: 600px;
}
form{
    margin-top: 40px;
    background-color: bisque;
    width: 600px;
    margin:auto;
}
input{
    display: block;
    padding-left:40px;
    padding-top:10px;
    background-color: black;
    color:red;
}
