h1,h2,h3,h4,h5,h6 {
    color: purple;
    font-family:Monotype Corsiva;
}

.z2{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}

.z22{
    color:rgb(184, 184, 78);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;

}
.z222{
    font-family: 'Times New Roman', Times, serif;
    color:green;
    font-size:22pt
}
.pou{
    color: yellow;
}
