.content-box {
     width: 200px;
 }
 
 li {
     list-style-type: none;
     margin-bottom: 10px;
 }
 .sub li{
     margin: 0px;
 }
 
 a {
     display: block;
     text-decoration: none;
     color: black;
 }
 
 .nav a {
     border: 2px solid black;
     font-size: 24px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 5px;
     margin-top: -2px;
     text-align: center;
     background-color: rgb(129, 207, 146);
 }
 .nav{
     position: relative;
 }
 .sub{
     display: none;
     left:209px;
     top:15px;
     position: fixed;
     
 }
 li:hover ul{
     display: block;
     animation-name: animation;
     animation-duration: 0.3s;
 }
 .sub a {
     border: 2px groove black;
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 5px;
     margin-top: -2px;
     text-align: center;
     background-color: rgb(160, 188, 204);
     position: relative;
     right: 40px;
 }
 @keyframes animation {
     from {
         opacity: 0;
     }
 
     to {
         opacity: 1;
     }
 }