.box{
    box-sizing: content-box;
    width: 800px;
    height: 650px;
    border: 4px dotted red;
    margin:auto;
    background-color: rgb(163, 187, 207);

}
p{
    border: 5px;
    animation-name: z7;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    font-size: 28pt;
}
@keyframes z7 {
    from{
        color:rgb(201, 22, 67)
    }
    to{
        color: rgb(76, 0, 255);
    }
}


