h1{
    animation-name: h;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    text-align: center;
    
}
@keyframes h {
    from{
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

body {
    background-color: rgba(245, 235, 248, 0.778);
    margin: 10px;
}

.content-box {
    width: 100%;
    height: 160px;
    position: relative;
    overflow: hidden;
}

.square{
    width: 700px;
    height: 700px;
    position: relative;
}

img {
    display: block;
    width: 100px;
    height: 100px;
}

.img1 {
    position: absolute;
    animation: img1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.img2 {
    position: absolute;
    animation: img2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.img3 {
    position: absolute;
    animation: img3;
    animation-duration: 7s;
    left: -150px;
    animation-iteration-count: infinite;
}

.img4 {
    position: absolute;
    animation: img4;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

.img5{
    position: absolute;
    animation: img5;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes img1 {
    0% {
        left: 0px;
    }

    100% {
        left: 200px;
    }

}

@keyframes img2 {
    0% {
        left: 0px;
    }

    100% {
        left: 50%;
        border-radius: 50%;
    }
}

@keyframes img3 {
    0% {
        left: -150px;
    }

    100% {
        left: 2000px;
    }

}

@keyframes img4 {
    0%{
        top: 0;
    }
    100%{
        top: 50px;
    }
}

@keyframes img5 {
    0%{
        left: 0px;
        top: 0px;
    }
    25%{
        left: 400px;
        top: 0px;
    }
    50%{
        left: 400px;
        top: 400px;
    }
    75%{
        left: 0px;
        top: 400px;
    }
    100%{
        left: 0px;
        top: 0px; 
    }
}

