
h1{
    animation-name: h;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    text-align: center;
    
}
@keyframes h {
    from{
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

img{
    width: 300px;
    height: 300px;
   outline: solid red 5px;
 
}

@keyframes img1{
    0%{ position: relative;
        left: 0px;
        top: 0px;
    z-index: 1;
    }
    20%{position: relative;
        left: 0px;
        top: 0px;
        z-index: 2;
    }
    100%{position: relative;
        left: 0px;
        top: 0px;
        z-index: 2;
        
    }

}
@keyframes img2{
    0%{position: relative;
        left: -305px;
        top: 0px;
        z-index: 2;
    
    }
    20%{position: relative;
        left: -305px;
        top: 0px;
        z-index: 1;

    }
    100%{position: relative;
        left: -305px;
        top: 0px;
        z-index: 2;
        
    }

}
@keyframes img3{
    0%{position: relative;
        left: -610px;
        top: 0px;
        z-index: 2;
    
    }
    40%{position: relative;
        left: -610px;
        top: 0px;
        z-index: 1;
    }
    100%{position: relative;
        left: -610px;
        top: 0px;
        z-index: 2;
    
        
    }

}
@keyframes img4{
    0%{position: relative;
        left: -915px;
        top: 0px;
        z-index: 2;
    
    }
    
    60%{position: relative;
        left: -915px;
        top: 0px;
        z-index: 1;
    }
    100%{position: relative;
        left: -915px;
        top: 0px;
        z-index: 2;
        
    }

}
@keyframes img5{
    0%{position: relative;
        left: -1220px;
        top: 0px;
        z-index: 2;
    
    }
    80%{
        position: relative;
        left: -1220px;
        top: 0px;
        z-index: 1;
    }
    100%{position: relative;
        left: -1220px;
        top: 0px;
        z-index: 2;
        
    }

}

.img1{
    animation-name: img1 ;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.img2{
    animation-name: img2 ;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.img3{
    animation-name: img3 ;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.img4{
    animation-name: img4 ;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.img5{
    animation-name: img5 ;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}